<section class="skills-main">

  <div class="hard-skills ">
    <div class="card">
      <div class="box card-inner">
        <div class="card-front" href="">
          <img src="https://logospng.org/download/css-3/logo-css-3-2048.png" alt="CSS3">
        </div>
        <div class="card-back">
          <p class="css">CSS3</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="box card-inner">
        <div class="card-front" href="">
          <img src="https://logospng.org/download/html-5/logo-html-5-1536.png" alt="HTML5">
        </div>
        <div class="card-back">
          <p class="html">HTML5</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="box card-inner">
        <div class="card-front" href="">
          <img id="image-js" src="https://logospng.org/download/javascript/logo-javascript-512.png" alt="javaScript">
        </div>
        <div class="card-back">
          <p class="javascript">JavaScript</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="box card-inner">
        <div class="card-front" href="">
          <img src="https://logospng.org/download/typescript/typescript-512.png" alt="TypeScript">
        </div>
        <div class="card-back">
          <p class="tp">TypeScript</p>
        </div>
      </div>
    </div>
  </div>


  <div class="hard-skills">
    <div class="card">
      <div class="box card-inner">
        <div class="card-front" href="">
          <img src="https://logospng.org/download/angular-js/logo-angular-js-icon-512.png" alt="Angular">
        </div>
        <div class="card-back">
          <p class="angular">Angular</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="box card-inner">
        <div class="card-front">
          <img src="https://logospng.org/download/java/logo-java-2048.png" alt="Java">
        </div>
        <div class="card-back">
          <p class="java">Java</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="box card-inner">
        <div class="card-front" href="">
          <img src="https://static-00.iconduck.com/assets.00/node-js-icon-227x256-913nazt0.png" alt="Node.Js">
        </div>
        <div class="card-back">
          <p class="node">Node.Js</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="box card-inner">
        <div class="card-front" href="">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Git_icon.svg/1200px-Git_icon.svg.png" alt="Git">
        </div>
        <div class="card-back">
          <p class="git">Git</p>
        </div>
      </div>
    </div>

  </div>
</section>

<!--
<section id="skills">
  <div class="skills-main">

    <div class="skills-description">
      <h3>Skills</h3>
      <p>Clique nos icones para ver mais</p>
    </div>


    <div class="hard-skills ">
      <div class="card">
        <div class="box card-inner">
          <div class="card-front" href="">
            <img src="https://logospng.org/download/css-3/logo-css-3-2048.png" alt="CSS3">
          </div>
          <div class="card-back">
            <p class="css">CSS3</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="box card-inner">
          <div class="card-front" href="">
            <img src="https://logospng.org/download/html-5/logo-html-5-1536.png" alt="HTML5">
          </div>
          <div class="card-back">
            <p class="html">HTML5</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="box card-inner">
          <div class="card-front" href="">
            <img id="image-js" src="https://logospng.org/download/javascript/logo-javascript-512.png" alt="javaScript">
          </div>
          <div class="card-back">
            <p class="javascript">JavaScript</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="box card-inner">
          <div class="card-front" href="">
            <img src="https://logospng.org/download/typescript/typescript-512.png" alt="TypeScript">
          </div>
          <div class="card-back">
            <p class="tp">TypeScript</p>
          </div>
        </div>
      </div>
    </div>


    <div class="hard-skills">
      <div class="card">
        <div class="box card-inner">
          <div class="card-front" href="">
            <img src="https://logospng.org/download/angular-js/logo-angular-js-icon-512.png" alt="Angular">
          </div>
          <div class="card-back">
            <p class="angular">Angular</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="box card-inner">
          <div class="card-front">
            <img src="https://logospng.org/download/java/logo-java-2048.png" alt="Java">
          </div>
          <div class="card-back">
            <p class="java">Java</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="box card-inner">
          <div class="card-front" href="">
            <img src="https://static-00.iconduck.com/assets.00/node-js-icon-227x256-913nazt0.png" alt="Node.Js">
          </div>
          <div class="card-back">
            <p class="node">Node.Js</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="box card-inner">
          <div class="card-front" href="">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Git_icon.svg/1200px-Git_icon.svg.png" alt="Git">
          </div>
          <div class="card-back">
            <p class="git">Git</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
-->
