<!-- Card com o acessar -->
<div  id="card" class="card">

  <div class="image">
    <img [src]="imageUrl" [alt]="imageAlt">
  </div>

  <div class="title">
    <span> {{ title }} </span>

    <div class="box-links">
      <div class="links">
        <a [href]="linkRepo">
          Repositorio
        </a>
      </div>
    </div>
  </div>

  <!-- <div class="description">
    Descrição
    <div class="tecnologias">
      <p>HTML5</p>
      <p>CSS3</p>
      <p>JavaScript</p>
    </div>
  </div> -->
</div>

<!-- Fim -->
